.ota {
    background-color: black;
    width: 1440px;
    height: 169px;
    display: flex;
}

.okg {
    width: 81px;
    height: 78px;
    margin-top: 55px;
    margin-left: 100px;
}

.yoz {
    color: white;
    display: flex;
    margin-top: 60px;
    font-size: 24px;
    gap: 41px;
    padding-left: 600px;
    text-shadow: +5px +5px +8px white;
}

.bbb {
    width: 1440px;
    height: 594px;
    background-image: url(./1b50633a759a8e362d186f06b705cacba5a931ca.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1700px;
    opacity: calc(0.5);
}

.far {
    background-color: white;
    width: 550px;
    height: 75px;
    position: absolute;
    bottom: 510px;
    text-align: center;
    left: 400px;
    box-shadow: +5px +5px +8px white;
}

main {
    position: relative;
}

.absolute1 {
    width: 400px;
    height: 200px;
    background-color: #F70101;
    border-radius: 100px;
    text-align: center;
    position: absolute;
    bottom: 350px;
    left: 500px;
}

.ras2 {
    width: 230px;
    height: 200px;
    background-color: #32FB00;
    text-align: center;
    position: absolute;
    bottom: 250px;
    left: 580px;
    box-shadow: +5px +5px +8px white;
}

.mars {
    width: 230px;
    height: 200px;
    background-color: #32FB00;
    text-align: center;
    position: absolute;
    bottom: 250px;
    box-shadow: +5px +5px +8px white;
}

.faster {
    width: 230px;
    height: 200px;
    background-color: #F70101;
    position: absolute;
    bottom: 300px;
    margin-left: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.mool {
    text-shadow: +5px +5px +9px white;
}

.cars {
    width: 230px;
    height: 200px;
    background-color: #32FB00;
    text-align: center;
    position: absolute;
    bottom: 250px;
    left: 580px;
    box-shadow: +5px +5px +8px white
}

.relat {
    color: red;
    padding-top: 100px;
}

.relativ {
    color: red;
    padding-top: 100px;
}

.relative {
    padding-top: 100px;
    color: red;
}

.cars {
    width: 230px;
    height: 200px;
    background-color: #32FB00;
    text-align: center;
    position: absolute;
    bottom: 250px;
    box-shadow: +5px +5px +8px white;
    left: 1200px;
}

.x {
    width: 230px;
    height: 200px;
    background-color: #F70101;
    text-align: center;
    position: absolute;
    bottom: 350px;
    left: 1100px;
}

.m {
    width: 1440px;
    height: 600px;
    background-color: black;
    position: relative;
}

.b {
    width: 400px;
    height: 60px;
    background-color: white;
    margin-top: 100px;
    position: absolute;
    bottom: 500px;
    right: 500px;
    text-align: center;
    border-radius: 30px;
}

.popkorn {
    color: black;
}

.h {
    width: 368px;
    height: 332px;
    background-color: #7B2525;
    position: absolute;
    top: 1000px;
    justify-content: center;
}

.u {
    color: white;
    text-align: center;
    font-size: 32px;
    text-shadow: +5px +5px +8px white;
}

.p {
    color: white;
    width: 265px;
    height: 96px;
    padding-left: 50px;
    font-size: 20px;
    padding-top: 55px;
}

.f {
    width: 368px;
    height: 332px;
    background-color: #7B2525;
    position: absolute;
    top: 1000px;
    left: 550px;
}

.q {
    justify-content: space-around;
    /* display: flex; */
}

.nans {
    width: 320px;
    height: 106px;
    margin-left: 30px;
}

.mamrs {
    width: 312px;
    height: 193px;
    margin-top: 10px;
    margin-left: 20px;
}

.sss {
    width: 368px;
    height: 332px;
    background-color: #7B2525;
    position: absolute;
    top: 1000px;
    left: 1080px;
}

.popi{
    width: 1440px;
    height: 100px;
    background-color: black;
}

.gagt{
    width: 81px;
    position: absolute;
    left: 87px;
}

.juja{
    color: white;
    text-shadow: +5px +5px +8px white;

}

.vavava{
    display: flex;
    margin: auto;
    position: absolute;
    left: 400px;
    top: 1380px;
    gap: 100px;
    left: 800px;
    font-size: 20px;
}